body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: whitesmoke;
	text-decoration: none;
}

a:link {
	color: whitesmoke;
}

a:visited {
	color: met;
}
a:active {
	color: ghostwhite;
}

a:hover {
	text-decoration: underline;
	color: white;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;

}

#info {
	position: absolute;
	color: steelblue;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
	font-family: Arial, Helvetica, sans-serif; /* 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	font-weight: bold;
	font-stretch: expanded;
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: #ffffff;
		border: 0;
		color: #000000;
		padding: 16px 20px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

#loading {
	height:100%;
	width:100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	opacity: 0.75;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	font-weight: bold;
	color: grey;
  }

  #data {
	position: fixed; 
	opacity: 0.75;
	bottom: 5px;
	left: 5px;
	right: 5px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: x-small;
	font-weight: lighter;
	color: whitesmoke;
	line-height: normal;
  }

  #links {
	position: fixed; 
	bottom: 5px;
	right: 5px
  }


  /* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: black; /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
	position: fixed;
	bottom: 0;
	opacity: 0.8;
	background-color: black; /* Fallback color */
	/*background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
	width: 100%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
	color: ghostwhite;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
  .modal-header {
	padding: 2px 16px;
	background-color: steelblue;
	background-
	color: white;
	font-family: Arial, Helvetica, sans-serif; /* 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  }
  
  .modal-body {
	padding: 2px 16px; 
	color: steelblue;
	font-family: Arial, Helvetica, sans-serif; /* 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
   }
  
  .modal-footer {
	padding: 2px 16px;
	background-color: slategrey;
	color: lightgray;
	font-family: Arial, Helvetica, sans-serif; /* 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
 
}
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
	from {bottom: -300px; opacity: 0} 
	to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
  }
  
  @keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
  }




  /*------------------------------------------ */

h2 {
	margin-bottom: 0%;
	margin-top: 2%;
}

.introPopup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  opacity: 0.75;
  left: 10%;
  top: 70%;
  transform: translateY(-70%);
  width: 80%; 
  font-size: 13px;
  line-height: normal;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
	.introPopup {
	  font-size: 13px;
	}
  }
  
  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
	.introPopup {
		font-size: 9px;

  	}
}


.introPopupCloseX {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.introPopupCloseButton {
	background-color: steelblue;
	color: white;
	float: right;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
  }
  
.introPopupCloseButton:hover {
	 background-color: #20608A;
}

.introPopupCloseButton:active {
	background-color: #20608A;
	border-width: thin;
	border-style: groove; 
	border-color: darkslategray;
}

.introPopupCloseX:hover,
.introPopupCloseX:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.introPopupHeader {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.introPopupBody {
	padding: 5px 16px;
	padding-bottom: 10px;
}

.introPopupFooter {
  padding: 10px 10px;
  background-color: #5cb85c;
  color: white;
}